<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand p-2">LOGO</a>
  <form class="form-inline">
    <a routerLink="/signup" class="navbar-brand">Create Account</a>
  </form>
</nav>

<div class="row mt-5 p-4">
  <div class="col-sm-6">
    <div class="card wrapper border-0">
      <div class="card-body">
        <h5 class="head1 card-title">Jump Back into your Account.</h5>
        <div class="rectangle"></div>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card wrapper border-0">
      <div class="card-body">
        <form>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password"  [(ngModel)]="password" name="password" class="form-control" id="exampleInputPassword1"
              placeholder="Password 8. main characters">

            </div>
            <div id="emailHelp" class="form-text">this is a hint text to help users</div>
          <div class="form-group">
            <button type="button" class="btn btn-link">Forget Password</button>
          </div>
          <!-- <button type="submit" class="but border-0 bg-muted">Button CTA</button> -->
          <button type="button" class="but btn btn-lg btn-block border-0 bg-muted w-100"  (click)="onSubmit()">Button CTA</button>

        </form>
      </div>
    </div>
  </div>
</div>
